DJANGO_SECRET_KEY=replace-with-secure-key
DJANGO_ENV=development
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=postgres/sqlite

POSTGRES_DB=finance_dashboard
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

TIME_ZONE=UTC
JWT_ACCESS_TOKEN_MINUTES=30
JWT_REFRESH_TOKEN_DAYS=1
THROTTLE_ANON_RATE=60/minute
THROTTLE_USER_RATE=120/minute
